/* header */
* {
    box-sizing: border-box;
}

.brand-title p {
    font-size: 12px;
    color: black;
}

.bar {
    padding-right: 5%;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #CE4A4A; */
    background-color: white;
    color: black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left: 5%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    color: red;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
        /* padding-left: 13%; */
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.rounded {
    border-bottom: 1px  black;
	/* box-shadow: 0 20px 20px -20px #333; */
    box-shadow: 0 2px 2px #333;
}
/* end of header  */


/* Event Section */

.events-section {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 50px 0 10px;
    display: inline-block;
    padding-right: 20px;
}

.event-container {
    text-align: left;
    width: 70%;
    margin: 40px auto;
    padding: 15px 40px;
    background: rgba(238, 43, 42, 0.2);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.34);
    border-radius: 20px;
}


.calendar-icon {
    width: 30px;
    height: 30px;
    vertical-align: sub;
}

.event-title > h2 {
    margin: 10px 0 0;
}


.event-description {
    margin: 5px 0 15px;
    display: inline-block;
    width: 80%;
    
}
.event-description > p {
    margin: 0;
    font-size: 1.1rem;
}

.event-link {
    display: inline;
}

.event-link > a > button{
    height: 50px;
    font-size: 1.1rem;
    color: white;
    width: 18%;
    border: #2976E8;
    background: rgba(41, 118, 232, 0.9);
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    border-radius: 15px;
    float: right;
    overflow: hidden;
    cursor: pointer;
}

.event-footer {
    margin: 10px 0;
}

.event-footer  p {
    display: inline;
    padding: 0 10px;
}
.event-date > .calendar-icon {
    width: 25px;
    height: 25px;
}

/* Previous Workshops Section */ 
.previous-workshops-section {
    padding: 20px 20px 40px;
    background-color: rgb(30, 128, 240, .15);
    text-align: center;
    margin: 80px 0 0;
}
.previous-workshops-section > h2 {
    font-size: 1.8rem;
    margin: 0 0 20px;
    padding-bottom: 20px;
}

.previous-workshops-container {
    margin: 10px;
    padding: 5%;
    display: flex;
}

.previous-workshops-section-text > p {
    width: 70%;
    margin: auto;
    padding: 35px 0 20px;
    text-align: justify;
    line-height: 1.5;
}

.previous-workshops-container > img {
    width: 255px;
}

.previous-workshops-section-text > a > button {
    cursor: pointer;
    height: 35px;
    color: white;
    font-size: .8rem;
    width: 20%;
    background: #EE2B2A;
    border: #EE2B2A;
    border-radius: 15px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.54));
}

/* footer */
/* #footer {
    flex-shrink: 0;
}
.column {
    float: left;
    width: 33.33%;
    padding: 25px 0;
}

.column img {
    width: 45px;
    height: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#left{    
    float: left;  
}  
#right{    
    float: right;  
}
.middleP {
    font-size: 10px;
} */

footer {
    padding: 10px 20px 0;
    background: #111;
    width: 100vw;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer-icon {
    padding: 5px;
}

.footer-img {
    width: 100px;
}

/* Media queries */

/* Small screen*/
@media(max-width: 900px){
    .event-description {
        width: 100%;
    }

    .event-link {
        display: block;
    }

    .event-link > a > button {
        float: none;
        width: 25%;
        margin: 10px 0;
    }

    .previous-workshops-section-text > a > button {
        width: 35%;
    }

    .previous-workshops-container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-img {
        width: 90px;
    }
}

/* Medium Screens */
@media(max-width: 515px){
    .event-link > a > button {
        width: 35%;
    }
    
    .footer-container

    .footer-img {
        width: 80px;
    }
}

/*  */
/* Footer */
/*  */
.container {
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  
  .column-left{ 
    float: left; 
    /* width: 33.333%;  */
    width: 20%;
    /* background-color: red; */
    /* display: block; */
  }
  
  .column-left img {
    width: 40px;
    height: 50px;
  }
  
  .column-center{ 
    display: inline-block; 
    /* width: 33.333%;  */
    width: 60%;
    text-align: center;
  }
  
  .column-right img {
    width: 50px;
    height: 40px;
    margin: auto;
  }
  
  .column-right{ 
    float: right; 
    /* width: 33.333%;  */
    width: 20%;
    text-align: right;
    /* background-color: red; */
  }
  
  .middleP2 {
    font-size: 10px;
    /* background-color: blue; */
  }
  
  @media (max-width: 800px) {
    .middleP2 {
      font-size: 7px;
    }
  }
  
