* {
    box-sizing: border-box;
}

img {
    width: 45px;
    height: 50px;
}

.brand-title p {
    font-size: 12px;
    color: black;
}

.bar {
    padding-right: 5%;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #CE4A4A; */
    background-color: white;
    color: black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    padding-left: 5%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li a:hover {
    color: red;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
        /* padding-left: 13%; */
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.rounded {
    border-bottom: 1px  black;
	/* box-shadow: 0 20px 20px -20px #333; */
    box-shadow: 0 2px 2px #333;
}

/* header paddding  */
/* @media (max-width: 1500px) {
    .brand-title {
        padding-left: 12%;
    }
}
@media (max-width: 1450px) {
    .brand-title {
        padding-left: 11%;
    }
}
@media (max-width: 1400px) {
    .brand-title {
        padding-left: 10%;
    }
}
@media (max-width: 1350px) {
    .brand-title {
        padding-left: 9%;
    }
}
@media (max-width: 1300px) {
    .brand-title {
        padding-left: 8%;
    }
}
@media (max-width: 1250px) {
    .brand-title {
        padding-left: 7%;
    }
}
@media (max-width: 1200px) {
    .brand-title {
        padding-left: 6%;
    }
}
@media (max-width: 1150px) {
    .brand-title {
        padding-left: 5%;
    }
}
@media (max-width: 1100px) {
    .brand-title {
        padding-left: 4%;
    }
} */
/*  */

/* footer */
.column {
    float: left;
    width: 33.33%;
    padding: 25px 0;
}

.column img {
    width: 45px;
    height: 50px;
}

.row {
    height: 100px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#left{    
    float: left;  
}  
#right{    
    float: right;  
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    margin-top: -50px;
    /* flex-shrink: 0; */
}

.footer-class {
    padding-left: 5%;
    padding-right: 5%;
}

/* footer padding */
/* @media (max-width: 1500px) {
    .footer-class {
        padding-left: 12%;
        padding-right: 12%;
    }
}
@media (max-width: 1450px) {
    .footer-class {
        padding-left: 11%;
        padding-right: 11%;
    }
}
@media (max-width: 1400px) {
    .footer-class {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (max-width: 1350px) {
    .footer-class {
        padding-left: 9%;
        padding-right: 9%;
    }
}
@media (max-width: 1300px) {
    .footer-class {
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media (max-width: 1250px) {
    .footer-class {
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media (max-width: 1200px) {
    .footer-class {
        padding-left: 6%;
        padding-right: 6%;
    }
}
@media (max-width: 1150px) {
    .footer-class {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (max-width: 1100px) {
    .footer-class {
        padding-left: 4%;
        padding-right: 4%;
    }
} */
/*  */

.middleP {
    font-size: 10px;
}

/* footer images */
/* @media (max-width: 950px) {
    .column img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 900px) {
    .column img {
        width: 40px;
        height: 40px;
    }
} */

/* @media (max-width: 850px) {
    .column img {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 800px) {
    .column img {
        width: 30px;
        height: 30px;
    }
} */
/*  */

/* footer text font size */
/* @media (max-width: 900px) {
    .middleP {
        font-size: 8px;
    }
} */

@media (max-width: 800px) {
    .middleP {
        font-size: 7px;
    }
}

@media (max-width: 700px) {
    .middleP {
        font-size: 6px;
    }
}

@media (max-width: 400px) {
    .middleP {
        font-size: 4px;
    }
}
/*  */

/* Icon image */
/* @media (max-width: 700px) {
    .fab {
        font-size: 9px;
    }

    .fas {
        font-size: 9px;
    }
} */

@media (max-width: 400px) {
    .fab {
        font-size: 5.8px;
    }

    .fas {
        font-size: 5.8px;
    }
}

/*  */

/* Laptop Icon */
#laptopimg {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 60%
}
/* End of Laptop Icon */

/* Resources */
#table {
    padding: 10px;
    border: 1px solid #CFCFCF;
    box-shadow: 2px 4px #CFCFCF;
    margin-left: clamp(90px, 100px, 300px);
    margin-right: clamp(90px, 100px, 300px);
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.arrow {
    width: 24px;
    height: 20px; 
}

.resources {
    padding-left: clamp(10px, 20px, 30px);
    padding-right: clamp(10px, 20px, 30px);
}

/* There is an issue with the up-down transform animation. */
/* .arrow:target {
    transform: rotateZ(180deg);
} */
