  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */

html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .collaborate-flex-container {
    padding-left: 5%; 
    padding-right: 5%; 
    /* background-color: rgb(99,148,76, .15); */
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
  
@media (min-width: 56.25em){
    .collaborate-flex-container {
        display: flex;  
    }
}
  
  .collaborate-main-content {
    flex: 1;  
    padding: 20px;
    border-radius: 12px;
  }

  .collaborate-section-title {
    font-size: 30px;
    font-weight: 600; text-align: center;
  }

  .collaborate-section-description {
    font-size: 1.125rem;
  }

  .collaborate-button-section {
    text-align: center;
  }

  .collaborate-button {
    color:white;
    width: 250px;
    font-weight: 500;
    background-color: #CE4A4A;
    border-radius: 50px;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    padding-top: .7%;
    padding-bottom: .7%;
    padding-right: 5%;
    padding-left: 5%;
    border: 0;
    /* border: 2px solid white; */
    box-shadow: 0px 0px 2px 2px black;
  }
  
  .collaborate-img-section {
    flex: .75 0 300px;
    padding: 20px;
    border-radius: 12px;
  }

  .collaborate-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; height: 80%;
  }

  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  
.collaborate-button:not([disabled]):focus {
    /* box-shadow: none; */
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
  
.collaborate-button:not([disabled]):hover {
    /* box-shadow: none; */
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.collaborate-button:not(:disabled):hover {
    /* box-shadow: none; */
  transform: scale(1.05);
}

.collaborate-button:not(:disabled):hover:active {
    /* box-shadow: none; */
  transform: scale(1.05) translateY(.125rem);
}


/*  */
/*  */
/*  */
/*  */
/* languages section */

.languages-flex-container {
    padding-left: 5%; 
    padding-right: 5%; 
    /* background-color: rgb(238,43,42, .15); */
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
  
@media (min-width: 56.25em){
    .languages-flex-container {
        display: flex;  
    }
}
  
  .languages-main-content {
    flex: 1;  
    padding: 20px;
    border-radius: 12px;
    /* align-items: center; */
    /* background-color: brown; */
  }

  .languages-section-title {
    font-size: 30px;
    font-weight: 600; 
    text-align: center;
  }

  .languages-section-description {
    font-size: 1.125rem;
  }

  .languages-button-section {
    text-align: center;
  }

  .languages-button {
    color:white;
    width: 250px;
    font-weight: 500;
    background-color: #CE4A4A;
    border-radius: 50px;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    padding-top: .7%;
    padding-bottom: .7%;
    padding-right: 5%;
    padding-left: 5%;
    border: 0;
    /* line-height: 50px; */
  }

  /* about button styling */

  .languages-button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .languages-button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

.languages-button:not(:disabled):hover {
  transform: scale(1.05);
}

.languages-button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

  /* end of about button styling  */
  
  .languages-img-section {
    flex: .75 0 300px;
    padding: 20px;
    border-radius: 12px;
    /* background-color: orange; */
  }

  .languages-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    height: 80%;
    border-radius: 10px;
    box-shadow:  0px 0px 5px black;
  }

/* end of languages section */

/* resources section */

.resources-flex-container {
  padding-left: 5%; 
  padding-right: 5%; 
  background-color: rgb(238,43,42, .15);
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (min-width: 56.25em){
  .resources-flex-container {
      display: flex;  
  }
}

@media only screen and (max-width: 900px) {
  .resources-flex-container {
      display: none;
  }
}

.resources-main-content {
  flex: 1;  
  padding: 20px;
  border-radius: 12px;
}

.resources-section-title {
  font-size: 30px;
  font-weight: 600; text-align: center;
}

.resources-section-description {
  font-size: 1.125rem;
}

.resources-button-section {
  text-align: center;
}

.resources-button {
  color:white;
  width: 270px;
  font-weight: 500;
  background-color: #CE4A4A;
  border-radius: 50px;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  padding-top: .7%;
  padding-bottom: .7%;
  padding-right: 5%;
  padding-left: 5%;
  border: 0;
}

.resources-img-section {
  flex: .75 0 300px;
  padding: 20px;
  border-radius: 12px;
}

.resources-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; 
  height: 80%;
  border-radius: 10px;
  box-shadow:  0px 0px 5px black;
}


/*  */
/*  */
/*  */
.resources-flex-container2 {
  padding-left: 5%; 
  padding-right: 5%; 
  background-color: rgb(238,43,42, .15);
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (min-width: 56.25em){
  .resources-flex-container2 {
      display: flex;  
  }
}

@media only screen and (min-width: 900px) {
  .resources-flex-container2 {
      display: none;
  }
}

.resources-main-content2 {
  flex: 1;  
  padding: 20px;
  border-radius: 12px;
}

.resources-section-title2 {
  font-size: 30px;
  font-weight: 600; text-align: center;
}

.resources-section-description2 {
  font-size: 1.125rem;
}

.resources-button-section2 {
  text-align: center;
}

.resources-button2 {
  color:white;
  width: 270px;
  font-weight: 500;
  background-color: #CE4A4A;
  border-radius: 50px;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  padding-top: .7%;
  padding-bottom: .7%;
  padding-right: 5%;
  padding-left: 5%;
  border: 0;
}

.resources-img-section2 {
  flex: .75 0 300px;
  padding: 20px;
  border-radius: 12px;
}

.resources-img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; 
  height: 80%;
  border-radius: 10px;
  box-shadow:  0px 0px 5px black;
}



/* end of resources section */

/* leetcode section */

.leetcode-flex-container {
    padding-left: 5%; 
    padding-right: 5%; 
    background-color: rgb(238,43,42, .15);
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
  
@media (min-width: 56.25em){
    .leetcode-flex-container {
        display: flex;  
    }
}
  
  .leetcode-main-content {
    flex: 1;  
    padding: 20px;
    border-radius: 12px;
  }

  .leetcode-section-title {
    font-size: 30px;
    font-weight: 600; text-align: center;
  }

  .leetcode-section-description {
    font-size: 1.125rem;
  }

  .leetcode-button-section {
    text-align: center;
  }

  .leetcode-button {
    color:white;
    width: 250px;
    font-weight: 500;
    background-color: #CE4A4A;
    border-radius: 50px;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    padding-top: .7%;
    padding-bottom: .7%;
    padding-right: 5%;
    padding-left: 5%;
    border: 0;
  }

  /* leetcode button styling */

  .leetcode-button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .leetcode-button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

.leetcode-button:not(:disabled):hover {
  transform: scale(1.05);
}

.leetcode-button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

  /* end of leetcode button styling  */
  
  .leetcode-img-section {
    flex: .75 0 300px;
    padding: 20px;
    border-radius: 12px;
  }

  .leetcode-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    height: 80%;
    border-radius: 10px;
    box-shadow:  0px 0px 5px black;
  }


/* end of leetcode section */


/* collaborate section */

.discussion-flex-container {
    padding-left: 5%; 
    padding-right: 5%; 
    /* background-color: rgb(99,148,76, .15); */
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
  
@media (min-width: 56.25em){
    .discussion-flex-container {
        display: flex;  
    }
}
  
  .discussion-main-content {
    flex: .5;  
    padding: 20px;
    border-radius: 12px;
  }

  .discussion-section-title {
    font-size: 30px;
    font-weight: 600; 
    text-align: center;
  }

  .discussion-section-description {
    font-size: 1.125rem;
    /* background-color: blue; */
  }

  .discussion-button-section {
    text-align: center;
  }

  .discussion-button {
    color:white;
    width: 250px;
    font-weight: 500;
    background-color: #CE4A4A;
    border-radius: 50px;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
    padding-top: .7%;
    padding-bottom: .7%;
    padding-right: 5%;
    padding-left: 5%;
    border: 0;
  }

  /* collaborate button styling */

  .discussion-button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .discussion-button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

.discussion-button:not(:disabled):hover {
  transform: scale(1.05);
}

.discussion-button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

  /* end of collaborate button styling  */
  
  .discussion-img-section {
    flex: .4 0 300px;
    padding: 20px;
    border-radius: 12px;
    /* background-color: red; */
  }

  .discussion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    height: 80%;
    border-radius: 10px;
    box-shadow:  0px 0px 5px black;
  }

/* end of collaborate section */

/* Meet the Team Section */

section {
    display: block;
}

*, :after, :before {
    box-sizing: border-box;
}

.team-section-all {
    margin: 3rem auto 0;
    padding: 0 1rem;
}

.team-heading {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Raleway,sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.team-container {
    padding-bottom: 1rem;
}

.team-sub-heading {
    font-size: 1.7rem;
    text-align: center;
}

.team-executive-column {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto 2rem;
    /* background-color: red; */
}

@media screen and (min-width: 1200px) {

    .team-executive-column {
        max-width: 1200px;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 700px) {
    .team-executive-column {
        margin: 0.5rem auto 2.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

.team-board-column {
    width: 300px;
    /* width: 22%; */
    overflow: hidden;
    margin: 0 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
    transition: .15s;
    transition-timing-function: ease-in-out;
    /* background-color: blue; */
}

/* @media screen and (min-width: 1200px) {
    .team-board-column {
        width: 25%;
        margin: 0.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .team-board-column {
        width: 30%;
    }
}

@media screen and (min-width: 700px) {
    .team-board-column {
        width: 45%;
        margin: 1rem;
    }
} */

.team-member-link {
    color: #000!important;
    text-decoration: none!important;
}

.team-member-container {
    padding: 2rem;
    height: 28.5rem;
    max-height: 28.5rem;
}

@media screen and (min-width: 1024px) {
    .team-member-container {
        height: 28rem;
        max-height: 28rem;
    }
}

@media screen and (min-width: 700px) {
    .team-member-container {
        padding: 1.25rem;
        height: 30rem;
        max-height: 30rem;
    }
}

.team-member-image {
    max-width: 50%;
    display: block;
    margin: 0 auto 0.5rem;
    border: 1px solid #d3d3d3;
    border-radius: 100rem;
}

@media screen and (min-width: 700px) {
    .team-member-image {
        max-width: 60%;
    }
}

@media screen and (min-width: 541px) {
    .team-member-image {
        max-width: 40%;
    }
}

.team-member-name {
    text-align: center;
    margin-bottom: 0.5rem;
}

.team-member-description {
    font-family: Nunito,sans-serif;
    font-size: 1.125rem;
}
/* end of meet the team section */

/* footer */
.column {
  float: left;
  width: 33.33%;
  /* padding: 25px 0; */
  /* padding-top: 50px; */
  /* background-color: red; */
  /* display: block;   */
}

/* @media (max-width: 56.25em) {
.column {
  padding-top: 30px;
}
}

@media (max-width: 480px) {
.column {
  padding-top: 20px;
}
} */

.column img {
  width: 45px;
  height: 50px;
  background-color: red;
}

/* .row {
  height: 100px;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-right {
  float: right;
}

.column-left {
  float: left;
} 

#footer {
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  margin-top: -50px; */
  flex-shrink: 0;
}

.footer-class {
  padding-left: 5%;
  padding-right: 5%;
  /* height: 10px; */
}


/*  */

.middleP {
  font-size: 10px;
  /* background-color: blue; */
}

@media (max-width: 800px) {
  .middleP {
      font-size: 7px;
  }
}

@media (max-width: 700px) {
  .middleP {
      font-size: 6px;
  }
}

@media (max-width: 400px) {
  .middleP {
      font-size: 4px;
  }
}
/*  */

/* Icon image */
/* @media (max-width: 700px) {
  .fab {
      font-size: 9px;
  }

  .fas {
      font-size: 9px;
  }
} */

/* .fab {
  color: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
}

.fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
} */

@media (max-width: 400px) {
  .fab {
      font-size: 5.8px;
  }

  .fas {
      font-size: 5.8px;
  }
}
/* end of footer */

.container {
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.column-left{ 
  float: left; 
  /* width: 33.333%;  */
  width: 20%;
  background-color: red;
  /* display: block; */

}

.column-left img {
  width: 40px;
  height: 50px;
}

.column-center{ 
  display: inline-block; 
  /* width: 33.333%;  */
  width: 60%;
  text-align: center;
}

.column-right img {
  width: 50px;
  height: 40px;
  margin: auto;
}

.column-right{ 
  float: right; 
  /* width: 33.333%;  */
  width: 20%;
  text-align: right;
  background-color: red;
}

.middleP2 {
  font-size: 10px;
  /* background-color: blue; */
}

@media (max-width: 800px) {
  .middleP2 {
    font-size: 7px;
  }
}
